[data-type="nhs-partners/partners-logos"]{

	.block-list-appender{
		clear: both;
	}

	.nhsuk-grid-column-one-quarter.partners{
		flex-direction: column;
	}
}

[data-type="nhs-partners/partner-logo"]{

	float: left;
    width: 25%;

	
	&:nth-child(5n){
		clear: left;
	}

	.block-editor-url-input__button-modal{
		width: 380px;
		position: relative;
		z-index: 9999999;
	}
}

.edit-post-visual-editor .nhsuk-grid-column-one-quarter{
	width: 100% !important;
	float: none;
}
